.cart-container {
    position: fixed;
    width: 65rem;
    height: 100%;
    background-color: #eee;
    z-index: 2000;
    top: 0;
    right: 0;
    padding: 0rem 3rem;
    color: var(--default-font-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all .6s
}

.container-heading {
    font-size: var(--medium-font-size);
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 4rem;
    cursor: pointer;
    padding: 0 .8rem;
    border-radius: 5px;
    transition: all .1s;
}

.close-btn:hover {
    background-color: #0001;
}

.close-btn:active {
    background-color: #0002;
}

.container-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: scroll;
    height: 75%;
}

.container-item {
    display: flex;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem;
}

.item-img {
    flex: 1;
    padding: .5rem;
}

.item-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.item-details {
    flex: 2;
    padding: 0 1rem;
}

.item-btn {
    font-size: var(--medium-font-size);
    align-self: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: block;
}

.item-btn:hover::after {
    width: 100%;
}

.item-btn::after {
    position: absolute;
    content: "";
    top: 1.5rem;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    transition: all .2s;
}

.item-name {
    font-size: 2.6rem;
    text-transform: uppercase;

}

.item-description {
    font-size: 1.8rem;
    color: var(--secondary-font-color);
}

.item-description::first-letter {
    text-transform: uppercase;
}

.item-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.qty-controller {
    width: 16rem;
    height: 4.5rem;
    background-color: #0001;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    border-radius: 3px;
    gap: .5rem;
}

.qty-text {
    width: 9rem;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 3px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-price {
    font-size: var(--medium-font-size);
}

h2 {
    line-height: 0;
}

.qty-controller>svg:active {
    scale: .9;
    transition: all .1s;
}

.empty-text {
    font-size: 3.5rem;
    text-align: center;
    color: var(--tertiary-font-color);
    letter-spacing: 1px;
}

@media (max-width: 700px) {
    .cart-container {
        width: 50rem;
    }

}