.form {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border: 2px solid #0003;
    border-radius: 1rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.form-radio {
    width: .5rem;
    height: .5rem;
    padding: .8rem;
    border-radius: 50%;
    outline-offset: .5rem;
    cursor: pointer;
    background-color: var(--tertiary-font-color);
    outline: 3px solid var(--tertiary-font-color);
}

.radio-select {
    outline: 3px solid var(--color-black);
    background-color: var(--color-black);
}

.form-label {
    line-height: 3rem;
    font-size: 1.8rem;
    color: var(--primary-font-color);
    flex-grow: 1;
}

.form-price {
    font-size: 1.8rem;
    color: var(--primary-font-color);
}


.btn-container {
    width: 100%;
    align-self: flex-end;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}