.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.container-menu {
  width: 100%;
  max-width: 18rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-radius: 0.5rem;
  transition: all 0.1s;
}

.container-menu:hover {
  background-color: #7f8588;
}

.container-menu--active {
  background-color: #5f676a;
}

.container-menu>svg {
  transition: all 0.1s;

  font-size: var(--x-large-font-size);
  color: var(--tertiary-font-color);
}

.menu-label {
  transition: all 0.1s;

  font-size: 1.8rem;
  color: var(--tertiary-font-color);
  text-transform: capitalize;
}

.container-menu--active>svg {
  color: var(--color-white);
}

.container-menu--active>.menu-label {
  color: var(--color-white);
}