.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row-inp {
  display: flex;
  gap: 1.5rem;
}

.row-inp > * {
  flex: 1;
}

.file-input {
  color: inherit;
  font-size: 1.7rem;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: var(--color-white);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
}

.file-input > input {
  display: none;
}

.input-label {
  color: #b9babc;
}

.file-input > label {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.invalid-txt {
  font-size: 1.5rem;
  color: orangered;
}
