.order-container {
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-heading {
    display: flex;
    justify-content: space-between;
}

.container-heading>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-heading--primary {
    font-size: 3.5rem;
    color: var(--color-black);
    text-transform: capitalize;
    margin: 0;
}

.container-heading--secondary {
    margin: 0;
    font-size: 1.8rem;
    line-height: 4rem;
    margin-top: 1rem;
    color: var(--secondary-font-color);
}

.container-main {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.empty-text {
    position: absolute;
    top: 40%;
    left: 50%;
    color: var(--secondary-font-color);
    font-size: var(--large-font-size);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .order-container {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .container-heading {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .container-heading>button {
        width: 100% !important;
    }

}